@keyframes roll {
  0% {
    transform: translateX(-1rem)
  }
  100% {
    transform: translateX(25rem);
  }
}
.component-roll {
  width: 35rem;
  height: 15rem;
  padding: 0 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .image-wrap {
    display: flex;
    width: 100%;
    .image-stand {
      width: 4rem;
      &.dao {
        transform: translateX(-1rem);
      }
    }
    .rolling-wrap {
      width: 100%;
      position: relative;
      .image {
        width: 4rem;
        &.roll {
          animation: roll 3s;
          animation-fill-mode: forwards;
        }
      }
      .tip {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 15rem;
      }
    }
  }
}